.home {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  background-color: #efefef;
}

.homeButton {
    margin: 0;
    margin-left: 25%;
    font-size: 20px;
    font-weight: bold;
    color: #555555;
    background-color: #efefef;
    border: none;
    text-decoration: none;
}

.homeButton:hover {
  color: #055055;
}

.menu {
  margin: 0;
  padding: 0;
  margin-right: 25%;
  display: inline-block;
  float: right;
  list-style-type: none;
}

.menuItem {
  text-decoration: none;
  font-size: 20px;
  color: #555555;
}

.menuItem:hover {
  color: #055055;
}

.content {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.contentText {
  font-size: 40px;
  font-weight: bold;
  color: #555555;
}
